{% extends 'base.html.twig' %}

{% block title %}Разработчики{% endblock %}

{% block body %}
<div class="wrapper">
    {% include "menu.html.twig" with {'current': 'coder'} %}
    <h1>Разработчики</h1>

    <p><a href="/coder/new">Добавить</a></p>

    <table>
        <tr>
            <th>Имя</th>
            <th>Должность</th>
            <th>Email</th>
            <th>Телефон</th>
            <th>Дата рождения</th>
            <th>Уволен</th>
            <th>Проектов</th>
        </tr>
        {% for coder in coders %}
        <tr>
            <td><a href="/coder/{{ coder.id }}/edit">{{ coder.name }}</a></td>
            <td>{{ coder.position }}</td>
            <td>{{ coder.email }}</td>
            <td>{{ coder.phone }}</td>
            <td>{{ coder.birthdate|date("d.m.Y") }}</td>
            <td>{{ coder.fired ? 'Да' : 'Нет' }}</td>
            <td>{{ coder.projects|length }}</td>
        </tr>
        {% else %}
            Не добавлено ни одного разработчика.
        {% endfor %}
    </table>
</div>
{% endblock %}
