{% extends 'base.html.twig' %}

{% block title %}Разработчики{% endblock %}

{% block body %}
<style>
    .wrapper { margin: 1em auto; max-width: 1200px; width: 95%; font: 18px/1.5 sans-serif; }
    td { text-align: center; }
</style>

<div class="wrapper">
    <h1>Разработчики</h1>

    <table>
        <tr>
            <th>Имя</th>
            <th>Должность</th>
            <th>Email</th>
            <th>Телефон</th>
            <th>Дата рождения</th>
            <th>Уволен</th>
        </tr>
        {% for coder in coders %}
        <tr>
            <td><a href="/coder/{{ coder.id }}">{{ coder.name }}</a></td>
            <td>{{ coder.position }}</td>
            <td>{{ coder.email }}</td>
            <td>{{ coder.phone }}</td>
            <td>{{ coder.birthdate|date("d.m.Y") }}</td>
            <td>{{ coder.fired ? 'Да' : 'Нет' }}</td>
        </tr>
        {% else %}
            Не добавлено ни одного разработчика.
        {% endfor %}
    </table>
</div>
{% endblock %}
