{% extends 'base.html.twig' %}

{% block title %}Проекты{% endblock %}

{% block body %}
<div class="wrapper">
    {% include "menu.html.twig" with {'current': 'project'} %}
    <h1>Проекты</h1>

    <p><a href="/project/new">Добавить</a></p>

    <table>
        <tr>
            <th>Название</th>
            <th>Заказчик</th>
            <th>Статус</th>
            <th>Разработчиков</th>
        </tr>
        {% for project in projects %}
        <tr>
            <td><a href="/project/{{ project.id }}/edit">{{ project.name }}</a></td>
            <td>{{ project.customer }}</td>
            <td>{{ project.closed ? 'Закрыт' : 'Открыт' }}</td>
            <td>{{ project.coders|length }}</td>
        </tr>
        {% else %}
            Не добавлено ни одного проекта.
        {% endfor %}
    </table>
</div>
{% endblock %}
