{% extends 'base.html.twig' %}

{% block title %}Проекты{% endblock %}

{% block body %}
<div class="wrapper">
    {% include "menu.html.twig" with {'current': 'project'} %}
    <h1>Проекты</h1>

    <a href="/project/new" class="button">Добавить</a>

    <table>
        <tr>
            <th>Название</th>
            <th>Заказчик</th>
            <th>Статус</th>
            <th>Разработчиков</th>
        </tr>
        {% for project in projects %}
        <tr>
            <td><a href="/project/{{ project.id }}/edit">{{ project.name }}</a></td>
            <td>{{ project.customer }}</td>
            <td>{{ project.closed ? 'Закрыт' : 'Открыт' }}</td>
            <td>{{ project.coders|length }}</td>
        </tr>
        {% endfor %}
    </table>
    {% if projects|length == 0 %}
    <p class="center">Не добавлено ни одного проекта</p>
    {% endif %}
</div>
{% endblock %}
